---
import TechIcon from "./icons/TechIcon.astro";
import { all_techonologies } from "./Technologies.astro";
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const mas_conocimiento = [
  all_techonologies.HTML,
  all_techonologies.CSS,
  all_techonologies.JS,
  all_techonologies.TS,
  all_techonologies.ANGULAR,
  all_techonologies.BOOTSTRAP,
  all_techonologies.FIREBASE,
  all_techonologies.GIT,
  all_techonologies.NODEJS
];

const conocimiento_medio = [
  all_techonologies.JAVA,
  all_techonologies.FLUTTER,
  all_techonologies.DART,
  all_techonologies.GOOGLE_CLOUD,
  all_techonologies.AWS,
  all_techonologies.MONGO,
  all_techonologies.CSHARP
]

const aprendiendo = [
  all_techonologies.ASTRO,
  all_techonologies.TAILWIND,
  all_techonologies.React,
];
---

<div class="flex flex-col gap-y-10 items-start w-full">
  <span class="flex gap-x-4 text-2xl font-bold">
    <TechIcon class="size-8" />
    {i18n.TECHNOLOGY.TITLE}</span
  >

  <span class="text-xl text-white/90">{i18n.TECHNOLOGY.DESCRIPTION}</span>

  <div class="flex flex-col gap-y-10">
    <span class="text-lg text-white">{i18n.TECHNOLOGY.H_SKILLS}</span>
    <ul class="flex gap-x-10 flex-wrap justify-center lg:justify-normal">
      {
        mas_conocimiento.map((tags_) => (
          <li class=" flex items-center justify-center mr-6 lg:mr-10 my-8 lg:my-10 view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%]">
            <span
              class={`flex p-8 rounded-full absolute z-10 ${tags_.class} `}
            ></span>
            <span class={`icons flex z-20 `}>
              <tags_.icon class="size-8" />
            </span>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="flex flex-col gap-y-10">
    <span class="text-lg text-white">{i18n.TECHNOLOGY.S_SKILLS}</span>
    <ul class="flex gap-x-10 flex-wrap justify-center lg:justify-normal">
      {
        conocimiento_medio.map((tags) => (
          <li class=" flex items-center justify-center mr-6 lg:mr-10 my-8 lg:my-10 view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%]">
            <span
              class={`flex p-8 rounded-full absolute z-10 ${tags.class} `}
            ></span>
            <span class={`icons flex z-20 `}>
              <tags.icon class="size-8" />
            </span>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="flex flex-col gap-y-10">
    <span class="text-lg text-white">{i18n.TECHNOLOGY.L_SKILLS}</span>
    <ul class="flex gap-x-10 flex-wrap justify-center lg:justify-normal">
      {
        aprendiendo.map((tags) => (
          <li class=" flex items-center justify-center mr-6 lg:mr-10 my-8 lg:my-10 view-animate-[--subjectReveal] animate-fade-in-right animate-range-[entry_10%_contain_25%]">
            <span
              class={`flex p-8 rounded-full absolute z-10 ${tags.class} `}
            ></span>
            <span class={`icons flex z-20 `}>
              <tags.icon class="size-8" />
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
